* {
  box-sizing: border-box;
}

html, body {
  background-color: #303030;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
video {
  max-width: 100%;
}

form, textarea {
  width: 100%;
}

input[type="file"] {
  color: transparent;
}

h3 {
  color: rgba(255,255,255,.6);
}

h3:hover {
  color: rgba(255,255,255,1);
  cursor: default;
}


header {
  background-color: #009688;
}

.shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12)
}

header h3,
#jumbo nav a {
  color: rgba(255,255,255,.6);
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  margin: 10px;
}

li {
  list-style: none;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  margin-top: 48px;
  padding: 40px;
}

.horizontalMenu ul {
  list-style: none;
  overflow-x: scroll;
  padding: 0;
  white-space: nowrap;
}

.horizontalMenu ul li {
  display: inline-block;
  height: 270px;
  padding: 0;
  width: 480px;
}

.horizontalMenu .linkItem {
  background-color: white;
  margin-right: 10px;
}

.horizontalMenu .linkItem a {
  background-color: rgb(50, 50, 50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 100%;
  width: 100%;
  display: block;
}

/*.horizontalMenu .linkItem:hover div {
  transform: scale(.3);
}*/

.linkItem img {
  vertical-align: middle;
  max-width: 120px;
  max-height: 67.5px;
}

/****************/
/*    Loader    */
/****************/
#loader {
  background: #fafafa;
  border-radius: 50%;
  box-shadow: 0 0 4px 0px #545454;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 70px;
  width: 30px;
}

#loader:not(hidden) {
  animation: fadein .5s;
}

@keyframes fadein {
  from { opacity: 0; top: 0; }
  to   { opacity: 1; top: 70px; }
}

#loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

#loader .circular {
  animation: rotate 2s linear infinite;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center center;
  width: 60%;
}

#loader .path {
  animation: dash 1.5s ease-in-out infinite;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke: #000;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
